<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
</head>
<body>
    <header class="header">
        <div class="header-main">
            <img class="header-logo" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" />
            <div class="nav-links">
                <a href="/">Home</a>
                <a href="{{ url_for('chatbot') }}">Assistant</a>
                <a href="{{ url_for('about') }}">About</a>
            </div>
        </div>
    </header>
</body>
</html>